body {
    background: url('../public/background/wallpaper.png') no-repeat center center fixed #bafd00;
    background-size: cover;
    font-family: 'Roboto', sans-serif; /* Application de la police Roboto */
    color: #000000;
    margin: 0;
    padding: 0;
}

#DivTotal {
    background-color: #000000cc; /* semi-transparent background */
    text-align: center;
    color: #ffffff00;
    padding-bottom: 20px;
}

h1 {
    font-size: 0.5em;
}

li {
    list-style-type: none;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px #00000066;
    overflow: hidden;
}

#case-1, #case-2, #case-3, #case-4 {
    background-color: #d9d9d9e6; /* slightly transparent */
    text-align: center;
    border: 5px solid #9D9797;
    padding: 10px 15px; /* padding réduit */
    border-radius: 10px;
    margin: auto; /* marge réduite */
    width: 300px; /* largeur réduite */
    height: 300px; /* hauteur réduite */
    display: inline-block;
    box-shadow: 0 4px 10px #00000033;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#case-1:hover, #case-2:hover, #case-3:hover, #case-4:hover {
    transform: scale(1.05); /* effet de zoom plus marqué */
    box-shadow: 0 8px 20px #0000004d;
}

#installation, #slider-container, #slider-container-1, #slider-container-2, #slider-container-5, #slider-container-6 {
    background-color: #d9d9d9e6;
    text-align: center;
    border: 5px solid #9D9797;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #00000033;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#slider-container-3 {
    background-color: #ff0000e6;
    text-align: center;
    border: 5px solid #9D9797;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #00000033;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#slider-container-4, #case-6 {
    background-color: #1500ffe6;
    text-align: center;
    border: 5px solid #9D9797;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #00000033;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#installation:hover, #slider-container:hover, #slider-container-1:hover, #slider-container-2:hover, #slider-container-5:hover, #slider-container-3:hover, #slider-container-4:hover {
    transform: scale(1.0);
    box-shadow: 0 8px 20px #0000004d;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: #000000cc !important;
}

.navbar-dark, .navbar[data-bs-theme="dark"] {
    --bs-navbar-hover-color: #e6dadaec;
}

#bouton-download {
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #000000;
    padding: 15px 25px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

#bouton-download:hover {
    background-color: #FF5733; /* Bright accent color */
    transform: translateY(-3px);
}

#bouton-download:active {
    transform: translateY(1px);
}

#video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 15px 25px;
    width: 40%;
}

#inputPost {
    display: initial;
    justify-content: end;
    margin: 5px;
    border: 1px solid #000000;
    align-items: start;
    width: 94.64%;
}

.post {
    background-color: #FFFFFF;
    position: static;
    justify-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    width: auto;
    height: auto;
    padding-top: 10px;
}

#pholder {
    width: 100%;
    text-align: center;
}

#Discord {
    color: var(--bs-dropdown-link-color);
    background-color: var(--bs-dropdown-link-bg);
    border: 0px solid #7289DA;
    margin-left: 8px;
    transition: background-color 0.3s, transform 0.3s;
}

#copyright {
    background: #3f5efb;
    background: radial-gradient(circle, #4160fb 0%, #fc466b 100%);
    border-radius: 10px;
    color: #000000;
    text-align: center;
}

@media screen and (max-width: 900px) {
    #video {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 15px 25px;
        width: 40%;
        height: 100%;
    }
}